<!DOCTYPE html>
<html lang="<%= navigator.language || "en-US" %>">
  <head>
    <link rel="shortcut icon" href="<%= icon %>" />
    <title><%= title %></title>
    <meta
      name="title"
      content="<%= title %>"
    />
    <meta
      name="description"
      content="<%= description %>"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta
      property="og:title"
      content="<%= title %>"
    />
    <meta
      property="og:description"
      content="<%= description %>"
    />
    <meta property="og:image" content="" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta
      property="twitter:title"
      content="<%= title %>"
    />
    <meta
      property="twitter:description"
      content="<%= description %>"
    />
    <meta property="twitter:image" content="" />
       <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
  .markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
    <%- css %>
    </style>
  </head>
  <body>
    <article class="markdown-body">
<%- html %>
</article>
    <footer>
   <script>console.log("")</script>
    </footer>
  </body>
</html>